:root{
    --primary-text-color: #757575;
    --secondary-text-color: #212121;
    --primary-white-color: #ffffff;
    --accent-color: #2196F3;
    --secondary-font-family: "Raleway", sans-serif;
    --primary-font-family: "Roboto", sans-serif;

}

body{
 font-family: var(--primary-font-family);
 color: var(--primary-text-color);
 background-color: var(--primay-white-color);
 font-size: 14px;
 letter-spacing: 0.03em;
}

.link{
text-decoration: none;
}

.list{
list-style: none;
}

.hero-title{
font-size: 36px;
line-height: 1.16;
text-align: center;
color: var(--secondary-text-color);

}

.section-title{
font-size: 36px;
line-height: 1.16;
text-align: center;
color: var(--secondary-text-color);

}

/* logo webstudio */
.logo{
font-size: 26px;
line-height: 1.19;
color: var(--secondary-text-color);
}

.accent{ 
    color: var(--accent-color);
}

/* ссылки студия,портфолио,контакты,*/

.nav-link{
font-size: 14px;
line-height: 1.14;
letter-spacing: 0.02em;
color: var(--secondary-text-color);
}

.nav-link.current:hover,focus{
  color: var(--accent-color);
}

/* емейл,телефон */

.contact-link{
font-size: 14px;
line-height: 1.14;
letter-spacing: 0.02em;

color: #757575;
}

.contact-link.current:hover,focus{
    color: var(--accent-color);
}

/* button */

.button{
    background: var(--accent-color);
    color: var(--primary-white-color);
}

.hero{
    background: #2F303A;
}

.hero-title{
font-size: 44px;
line-height: 1.36;
letter-spacing: 0.06em;
color: #ffffff;
}

/* секция  about */

.about-subtitle{
font-size: 14px;
line-height: 1.14;
letter-spacing: 0.03em;
color: #212121;   

background-color: #ffffff;
}

/* секция наша команда */

.team{
background: #F5F4FA;
}

.team-subtitle{
font-size: 16px;
line-height: 1.18;
letter-spacing: 0.03em;
color: #212121;
}

/* footer */

.footer{
background: #2F303A;
}

.nav-link.item{
color: #FFFFFF;    
}

.contact-link.list{
color:rgba(255, 255, 255, 0.6);
}